<!-- <div class="stage">
    <div class="layer">

    </div>
    <table class="table-bordered">
        <tbody class="seats"></tbody>
    </table>
</div> -->

<div class="container">
        <div class="row">
            <table class="table-bordered">
                <tbody class="seats">
                    
                </tbody>
              </table>
        </div>
    </div>
<div id="result"></div>
