<div class="footer_div">
    <div>
        <a href="mailto:andreas@mrcaptain.info" class="hyper-link">
            <i class="fas fa-envelope-square socialMedia"></i>
        </a>
        <a href="https://www.linkedin.com/in/andreas-pedersen-130192156/" target="_blank">
            <i class="fab fa-linkedin socialMedia" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/AndreasP-92" target="_blank">
            <i class="fab fa-github-square socialMedia" style="margin-left:0px;"></i>
        </a>
    </div>
    <p id="copyright">Hand made by Andreas Pedersen © 2018</p>
</div>