<ul class="flag_resp">
    <li>
        <a href="/" id="DK_flag_a_resp">
            <img src="./resources/media/image/index/danish_flag.png" alt="Dansk Flag">
        </a>
    </li>
    <li>
        <a href="/en-index" id="EN_flag_a_resp">
            <img src="./resources/media/image/index/english_flag.png" alt="Engelsk Flag">
        </a>
    </li>
</ul>