<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/admin/head %>
</head>

<body style="background-color:white;">
    <header>
        <% include ../.././partials/admin/header %>
    </header>
    <main>
        <div class="container">
            <h1>ADMIN PANEL - AKTIVITETER</h1>
        </div>


            <% include ../.././partials/admin/aktiviteter/kategori %>
            
            
            
            
    </main>
    <footer>
        <% include ../.././partials/admin/footer %>
    </footer>
</body>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="/static/resources/pages/cultural_center/js/pages/admin/admin_update_activity.js"></script>

</html>