<div id="burger">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<nav>
    <ul id="left_nav">
        <li>
            <a href="/forside"> Forside </a>
        </li>
        <li>
            <a href="/egenskaber">Egenskaber</a>
        </li>
        <li>
            <a href="/projekter"> Projekter </a>
            <!-- <ul id="dropDown">
                <li>
                    <a href="/static/resources/pages/drop_down/stjernev_validator/index.html">Stjerne validater 15/01/18</a>
                </li>
                <li>
                    <a href="/static/resources/pages/drop_down/hifi/index.html">Web Shop 23/12/17</a>
                </li>
                <li>
                    <a href="http://www.feriehuse-odsherred.dk/">frontPage til online hjemmeside 07/08/17</a>
                </li>
                <li>
                    <a href="/static/resources/pages/drop_down/neli/index.html">Neli's blog 01/04/17</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    <a href="">4</a>
                </li>
            </ul> -->
        </li>
        <li>
            <a href="/kontakt"> Kontakt </a>
        </li>
    </ul>
    <ul id="flag">
        <li>
            <a href="/dk-index" id="DK_flag_a">
                <img src="/resources/media/image/index/danish_flag.png" alt="">
            </a>
        </li>
        <li>
            <a href="/" id="EN_flag_a">
                <img src="/resources/media/image/index/english_flag.png" alt="">
            </a>
        </li>

    </ul>
</nav>
