*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color:#eeeeee;
    /* background-color:white; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin:0.3%;
    -webkit-box-shadow: 0px 0px 0px 13px #33485F;
    -moz-box-shadow: 0px 0px 0px 13px #33485F;
    box-shadow: 0px 0px 0px 13px #33485F;
    /* background: radial-gradient(#eae9e9, #999999, #423f3f) */
    padding-top:20px;
}
.stop_scroll {
    height: 100%;
    overflow: hidden;
  }

/****************************************** HEADER ******************************************** */
header{
    /* border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px; */
    /* background-image:url('../media/image/index/header_background.jpeg'); */
    background-repeat:no-repeat;
    background-size:100%;
    width:80%;
    margin:auto;
}
header:after{
    content:"";
    clear: both;
    display:block;
}
/* FØRSTE SIDE--------------------------------------- */
#frontPage.hide{
    position: fixed;
    transition: 1s;
    right:-110%;
    z-index: 100; 
    transition:2s;
}
#frontPage{
    right:0;
    background-color:rgba(0, 0, 0,0.95);
    width:100%;
    height:100%;
    position: fixed;
    z-index:0;
    top:0px;


}
#frontPage_border{
    height:60px;
    width:100%;
    top:20%;
    left:10%;
    background-color:yellow;
    position: absolute;
    transform:rotate(20deg);
    z-index:3;
    
}
#warning{
    font-size:50px;
    text-align: center;
    font-family:Impact, Charcoal, sans-serif;
}
#frontPage article i{
    font-size:80px;
    color:#619ae4;
    top:5%;
    position: absolute;
    right:30%;
    cursor: pointer;
}
#frontPage article i:hover{
    transform:rotate(45deg);
}
#frontPage article{
    width:30%;
    color:white;
    margin:0 auto;
    
}
#frontPage article img{
    border-radius:300px;
    width:50%;
    display: block;
    margin:0 auto;

}
h1{
    text-align: center;
    width:100%;
    color:#929292;
    padding-top:13%;
    padding-bottom: 8%;
    font-size:65px;
}
#frontPage article p{
    color:#929292;
    text-align: center;
    margin-top:10px;
    font-size:20px;
}
/* SLUT */
h2{
    text-align: center;
    width:100%;
    color:white;
    padding-top:13%;
    padding-bottom: 8%;
    font-size:65px;
    color:#161d2d;
}
/* NAV START------------------------------------- */
nav ul:after{
        content:"";
        display: table;
        clear:both;
}
nav{
    height: 55px;
    padding-top:15px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.75);
}
nav:after{
    content:"";
    display: table;
    clear: both;
}
nav ul{
    float: left;
    width:480px;
    margin:5px;
    list-style-type:none;

}
nav ul:after{
    content:"";
    display: table;
    clear: both;
}
#left_nav li{
    float: left;
    width:21%;
    text-align: center;
}
nav #left_nav > li:hover{
    border-bottom:2px solid #F5C453;
    border-radius:18px;
}
nav ul li a{
    text-decoration: none;
    color:#454545;
    width:100%;
    display:block;
    margin-top: 5px;
    height:25px;

}

/* Under Menu --------------------------------------- */

#left_nav ul li{
    float:none;
    list-style-type:none
    
}
#dropDown li a:hover{
    background-color:grey;
    border-radius: 10px;
}
#left_nav ul{
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    position: absolute;
    background-color: #333;
    width: 20%;
    border-radius:10px;
    
}
#left_nav > li:hover > ul{
    max-height:700px;
     overflow:visible;
}
#left_nav li:hover ul{
    max-height:600px;
    transition:1s;
    opacity:1;
}
#left_nav li a:hover{
	color: #454545;
	text-decoration: none;
}
#left_nav li ul li a{
    float:left;
    width:100%;
    height:15px;
    color:white;
}

#left_nav ul{
    max-height:0;
    overflow: hidden;
    transition:1s;
    opacity:0;
}
#dropDown li{
    width:100%;
}
/* FLAG------------------------------------- */

#flag{
    /* float:right; */
    width:10%;
    z-index:3;
    position: absolute;
    right:12%;
    top: 33px;
}
#flag:after{
    content:"";
    display:table;
    clear: both;
}
#flag li a{
    float:right;
    width:25%;
    /* z-index: 3; */
    margin-left:4px;
    /* float:right; */
}
#flag li a:after{
    content:"";
    display: table;
    clear:both;
}
#himg_01 img{
    width:85%;
}
#himg_02 img{
    width:100%
}
nav #flag a img:hover{
    border:2px solid #F5C453;
    border-radius:2px;
}
/* SLUT */

/* ************************************************************MAIN****************************************************** */

main{

/* Height visuelt eksempel(skal settes) */
    /* height:600px; */
    /* width:70%; */
    margin:0px auto;
    /* border:1px solid grey;    */
    padding:5px;
    width:80%;
    font-family: Slabo27px;
}
main:after{
    content:"";
    display: table;
    clear: both;
}

/* ********************************************************** INDEX/FRONT PAGE ***************************************************  */

/* Index div 1 + 3 ---------------------------------*/
.fontPage > img{
    display:block;
    margin:auto;
    width:100%;
}
.frontPage_div_01{
    padding-top: 25px;
    padding-bottom: 50px;
    width:70%;
    margin:auto;
}
.frontPage_div_01 div{
    float:left;
    width:45%;
}
.frontPage_div_01:after{
    content:"";
    display: table;
    clear:both;
}
.frontPage_div_01 h3{
    font-size:30px;
    color:#161d2d;
    margin:10px;
}
.frontPage_div_01 article{
    width:100%;

}
.frontPage_div_01 article p{
    margin:10px;
    color:#161d2d;
    width:100%;
    line-height:1.2;
    font-size:20px;
}
/* frontPage div 2 ------------------------- */

.frontPage_div_02{
    width:100%;
    border-top:1px solid grey;
    padding-top:40px;
}
.frontPage_div_02 h4{
    text-align: center;
    font-weight:bold;
    font-size: 3em;
    color:#161d2d;
}
.frontPage_div_02 > div{
    margin:50px auto;
    /* width:50%; */


    /* height:38px; */
    /* padding:auto; */
}
.frontPage_div_02 div a{
    width:150px;
    margin: 0px auto;
    display:block;
    text-decoration: none;
    color:#161d2d;
    text-align:center;
    border:2px solid #F5C453;
    border-radius: 7px;
    padding:20px;
    color:#161d2d;
}
.frontPage_div_02 div a:hover{
    transform:scale(1.02);
}


/* SLUT */

/* **************************************************** skills ******************************************************* */
.skills{
    width:80%;
    border-top:1px solid grey;
}
.skills:after{
    content:"";
    display: table;
    clear: both;
}
.skills_a{
    padding-bottom:50px; 
    padding-top:100px;
    border-bottom: 1px solid #d6e1e5;
}
.skills_a:after{
    content:"";
    clear:both;
    display:table;
}

/* skills > A1 ------------------------------------------- */

.skills_a1 li{
    color: #161d2d;
    font-size: 18px;
}
.skills_a1{
    width:33%;
    float:right;
    margin: auto;
    height:400px;
}
.skills_a1 img{
    width:60%;
    display: block;
    margin:auto;
}
.skills_a1 ul{
    padding-left: 82px;
    padding-top: 20px;
}
.skills_a1 h3{
    text-align: center;
    margin-top:15%;
    font-size:30px;
    color:#161d2d;
}

/* skills A3 ---------------------------- */
.skills_a5{
    width:33%;
    float:right;
    margin: auto;
    height:400px;
}
.skills_a5 img{
    width:60%;
    display: block;
    margin:auto;
}

/* skills > A2 ------------------------------------------- */

.skills_a2 li{
    color: #161d2d;
    font-size: 18px;
}
.skills_a2{
    width:33%;
    float:right;
    margin: auto;
    height:400px;
}
.skills_a2 img{
    width:60%;
    display: block;
    margin:auto;
}
.skills_a2 ul{
    padding-left: 28%;
    padding-top: 20px;
}
.skills_a2 h3{
    text-align: center;
    margin-top:15%;
    font-size:30px;
    color: #161d2d;
}

/* skills > DIV ----------------------------------------- */

.skills_skills div{
    width:100%;
    margin: auto;
    float:left;
    padding-top:50px;
}
.skills_a3{
    width:50%;
    float:left;
    padding:35px 20px;
}
.skills_a3 img{
    width:63%;
    margin: auto;
    margin-bottom: 20px;
    display:block;
    border-radius:3px;
}
.skills_a4{
    width:45%;
    float:right;
    padding: 35px 20px;
}
.skills_a4 img{
    width:80%;
    margin: auto;
    margin-bottom: 20px;
    display:block;
    border-radius: 3px;
}
.skills_h3{
    /* padding-bottom:20px; */
    text-align: center;
    margin-top:20px;
    font-size:30px;
    color:#161d2d;
}
.skills_skills div li{
    color: #161d2d;
}
.skills_a3 p{
    width: 60%;
    margin: auto;
    color: #161d2d;
    font-size: 18px;
}
.skills_a4 p{
    width: 80%;
    margin: auto;
    color: #161d2d;
    font-size: 18px;
}

/* ************************************************** FOOTER ***************************************************** */

footer{
    width:100%;
    background-color:#33485F;
    /* height:125px; */
    color:#eeeeee;
}
footer:after{
    content:"";
    display: block;
    clear: both;
}
footer footer_div div:after{
    content:"";
    display: table;
    clear: both;
}
.footer_div{
    margin:auto;
    height:142px;
    background-color:#2a3b4e;
    width:80%;
}
.footer_div > div{
    margin:0 auto;
    width:10%;
}
.hyper-link{
    text-decoration:none;
    float:left;
}
.hyper-link i:hover{
    color:#F5C453;
}
.socialMedia:hover{
    color:#F5C453;
}
.socialMedia{
    font-size:36px;
    color:#ccc;
    margin:3px;
}
/* .socialMedia02{
    font-size: 38px!important; */
/* } */
#kontakt{
    padding-top:20px;
    text-align: center;
    margin-right:110px;

}
#copyright{
    float: right;
    margin-top:79px;
    margin-right: 5px;
}

/* ************************************************************* PROJECTS ************************************************************ */
.projects{
    width:70%;
    margin:auto;
    border-top:1px solid grey;
}
.project_div{
        padding-bottom:50px; 
        /* padding-top:60px; */
        border-bottom: 1px solid #d6e1e5;
        width:100%;
}
.project_div:after{
    display:block;
    content:"";
    clear:both;
}
.project_div article{
    width:30%;
    margin:7px;
    float:left;
}
.project_div article img{
    width:100%;
    border-radius:3px
}
.project_div article h3{
    text-align: center;
    margin-bottom: 35px;
    color:#161d2d;
}
.project_div article p{
    margin-top:20px;
    color:#161d2d;
    line-height:1.3;
}
.project_div img:hover{
    transform:scale(1.03);
    transition:0.2s;
}
.bold{
    font-weight:bold;
}

/* *********************************************************** CONTACT *************************************************************** */

.contact{
    border-top:1px solid grey;
    height:600px;

}
.contact > div{
    width:100%;
    padding-top:2%;
    margin:20px;
    /* height:300px; */
}
.contact_div:after{
    content:"";
    display:table;
    clear:both;
}
.contact_div01{
    width:20%;
    float:left;
}
.contact_div img{
    width:88%;
}
.contact_div02{
    width:75%;
    float:left;
}
.contact_div h3{
    margin-left:10px;
    font-size:34px;
    margin-bottom:5%;
    color:#161d2d; 
}
.contact_div p{
    margin-left:10px;
    font-size:20px;
    bottom:0px;
    color:#161d2d;    
}
.contact_div a{
    /* text-decoration: none; */
    color:#F5C453;
    font-weight: bold;
    /* list-style-type:none;     */
}

/* ********************************************************** RESPONSIVE ************************************************************** */


@media only screen and (max-width:620px) {
    /* BODY ---------------------------------- */
    body{
        width:97%;
        margin:auto;
    }
    /* HEADER --------------------------------- */
    header h2{
        font-size:55px;
    }
    
    /* FLAG ------------------------------------ */
    .flag_rep{
        float:left;
        width:39%;
        list-style-type: none;
        margin-left:-13px
    }
    .flag_rep:after{
        content:"";
        display:table;
        clear: both;
    }
    .flag_rep:after li:after{
        content:"";
        display:table;
        clear:both;
    }
    .flag_rep li a{
        float:right;
        width:38%;
        margin-left:1px;
    }
    .flag_rep li a:after{
        content:"";
        display: table;
        clear:both;
    }
    #himg_03 img{
        width:89%;
    }
    #himg_04 img{
        width:75%
    }
    .flag_rep a img:hover{
        border:2px solid white;
        border-radius:2px;
    }
    
    /* FLAG NOT RESP ------------------------------------------- */
    
    #flag{
        display:none;
    }
/* ******************************************************* NAVIGATION ********************************************************** */
    header{
        height: 248px;
    }
    nav{
        /* width:30%; */
        margin-top:23%;
    }
    #left_nav{
        background-color: #333;
        width: 90%;
        border-radius: 10px;
        margin-left:8px;  
    }
    #left_nav li{
        width:100%;
        float:left;
        font-size:25px;
    }
    #left_nav li:hover ul{
        width:93%;
    }
    #dropDown{
        display:none;
    }
    nav ul li a{
        color:white;
    }

    #h2_en{
        font-size:45px;
    }
    /* BURGER MENU ---------------------------------- */

    nav{
        position: fixed;
        transition: 1s;
        width:100%;
        left:-110%;
        z-index: 100; 
        box-shadow:none;
    }
    nav.show{
        left:0;
    }
    nav a{
        display:none;
    }
    nav ul li ul{
        width:50%;
    }
    #burger{
        margin-right: 5%;
        margin-top:5%;
        font-size:30px;
        /* background-color:#00000069; */
        background-color:#2a3b4e;
        width:42px;
        border-radius: 2px;
        float:right;
        position: fixed;
        right:0;
    }
    #burger svg, #burger i{
        color:white!important;
        cursor: pointer;
        margin-left: 7px;
        border-radius:5px;
    }
    #burger i:hover{
        transform:scale(1.2);
    }

    /* FADE AWAY ---------------------------- */
    #frontPage{
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.94);
    }
    #frontPage_border {
        height: 36px;
        width: 133%;
        top: 15%;
        left: -12%;
        background-color: yellow;
        position: absolute;
        transform: rotate(26deg);
        z-index: 3;
    }
    #frontPage_border #warning{
        font-size:28px;
    }


    #frontPage article{
        width:70%;
    }
    #frontPage article i{
        left: 82%;
        top: 1%;
        font-size:65px;
    }
    #frontPage article h1{
        font-size:55px;
    }
    #frontPage article img{
        width:63%;
    }
    #frontPage article p{
        font-size: 23px;
        text-align: center;
        margin-top: 24px;
    }

/* *********************************************************** MAIN ******************************************************************** */

    main{
        width:100%;
        border:0px solid grey;
        padding:0px;
    }
    header > h2{
        color:#1e1e1e;
    }



    /* ***************************************************** index ****************************************************************** */
    .fontPage img{
        width:90%;
        margin-bottom:20px;
    }
    .frontPage_div_01{
        width:93%;
        padding-bottom:15px;
    }
    .frontPage_div_01 div{
        width:100%;
 
    }
    .frontPage_div_01 h3:nth-of-type(1){
        /* padding-top:50px; */
    }
    .frontPage_div_01 h3{
        padding-top:30px;
    }
    .frontPage_div_01 article{
        width:100%;
        font-size: 20px;
        padding-top: 15px;
        margin-bottom:15px;
    }
    .frontPage_div_02{
        margin-top:55px;
    }
    .frontPage_div_02 h4{
        font-size:32px;
    }
    
    /* skills ------------------------------- */

    .skills{
        /* padding-top:15px!important; */
        /* padding-bottom: 0px!important; */
        padding-top:10px;
        width:100%;
    }

    /* A1 */

    .skills_a1{
        width:100%;
        float:left;
        height:none;
    }
    /* A2 */
    .skills_a2{
        width:100%;
        float:left;
        height:none;
    }
    /* A5 */
    .skills_a5{
        display:none;
    }
    /* A6 */
    .skills_a6{
        width:100%;
        padding-bottom: 30px;
        padding-top:30px;
    }
    .skills_a6 img{
        width:68%;
        display: block;
        margin:auto;

    }
    /* A3 */
    .skills_a3{
        width:100%!important;
    }
    .skills_a3 img{
        width:100%!important;
    }
    .skills_a3 p{
        font-size:20px;
        line-height:1.3;
        width:100%;
    }
    /* A4 */
    .skills_a4{
        width:100%!important;
    }
    .skills_a4 img{
        width:100%!important;
    }
    .skills_a4 p{
        font-size:20px;
        line-height:1.3;
        width:100%;
    }

    /* ******************************************************** PROJECTS ************************************************************* */

    .projects{
        width:92%;
        padding-top:10px;
    }
    .project_div{
        width:100%;
        border:none;
    }
    .project_div article{
        width:100%;
        /* margin-bottom:60px!important; */
        margin:40px 0px;
    }
    .project_div h3{
        font-size:30px;
    }
    .project_div p{
        font-size:20px;
        line-height:1.3;
    }
    .project_div img{
        width:100%!important;
        display:block;
        margin:auto;
    }
    /* ******************************************************** CONTACT ********************************** */
    .contact{
        width:92%;
        height:auto;
        padding-top:10px;
    }
    .contact > div{
        margin:0px;
        margin:60px 0px;
    }
    .contact_div01{
        width:100%;
        margin:0px auto;
        display:block;
    }
    .contact_div01 img{
        width:50%;
        margin:auto;
        display:block;
    }
    .contact_div02{
        margin-top:40px;
        width:100%;
    }
    .contact_div02 h3{
        font-size:21px;
    }

    /* ******************************************************* FOOTER ******************************** */
    #kontakt{
        margin:auto;
    }
    .footer_div > div{
        width:40%;
    }
    #copyright{
        font-size:11px;
    }
  }
@media only screen and (min-width:620px) {
    #burger{
        display:none;
    }
    .flag_rep{
        display:none;
    }
    .skills_a6{
        display:none;
    }
}