<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/culturalcenter/admin">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/culturalcenter/admin">Forside</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Aktiviteter
                    </a>
                    <div class="dropdown-menu categoryDropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/culturalcenter/admin/opret">Opret</a>
                        <a class="dropdown-item" href="/culturalcenter/admin/image_upload">Upload Billede</a>
                        <div class="dropdown-divider"></div>
                        <h4 class="dropdown-header">Rediger</h4>
                        
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/culturalcenter/admin/nyheder">Nyheder</a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="/culturalcenter">Client Site</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>