<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#252a30" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Dette er en præsentation af mit portfølje, som giver en beskrivelse om hvem jeg er og hvad jeg kan som
web desegner. På mit portfølje kan du se nogle af de projekter jeg har lavet i den tid som web designer, derudover kan du også komme
i kontakt med mig via email eller andre sociale medier.">
<meta http-equiv="copyright" content="Copyright 2018-2018 Mrcaptain">
<meta property="Hvor alle kan finde den perfekte web designer.">
<link rel="shortcut icon" href="./resources/media/image/favicon.ico"/>
<link rel="stylesheet" href="/static/resources/css/main.css">
<link rel="stylesheet" href="/resources/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
<title>Portfølje</title>