<ul class="flag_rep">
        <li>
            <a href="/" id="himg_04">
                <img src="/resources/media/image/index/danish_flag.png" alt="">
            </a>
        </li>
        <li>
            <a href="/static/resources/pages/english/main.html" id="himg_03">
                <img src="/resources/media/image/index/english_flag.png" alt="">
            </a>
        </li>
    </ul>