<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/english/en-head %>
    <meta name="google-site-verification" content="Tv-e7f7a1HqP79dFn6RVOQaUJplO8tAbeh6wxPDoKvU" />
</head>

<body class="stop_scroll">
    <!--************************************************* FADE AWAY ***************************************-->
    <div id="frontPage">
        <!-- <div id="frontPage_border">
            <p id="warning">Construction Area - BETA 0.9</p>
        </div> -->
        <article>
            <i class="fa fa-times" aria-hidden="true">
                <p> Close</p>
            </i>
            <h1>Andreas Pedersen</h1>
            <img src="/resources/media/image/index/profil_billede.png" alt="Profile Picture">
            <p>Danish Web Developer, living in Sofia</p>
        </article>

    </div>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/english/nav %>

            <!-- NAV END -->

            <h2 id="h2_en">Andreas the Web Developer</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="frontPage">
        <img src="/resources/media/image/index/indexImage.jpg" alt="Front Page Picture">

        <!-- RESPONSIVE FLAGS -->

        <% include ../.././partials/english/resp-flags %>

            <!-- RESPONSIVE FLAGS END -->

            <div>
                <div class="frontPage_div_01">
                    <h3>About</h3>
                    <article>
                        <p>
                            I’m a Web Developer, who’s currently using my time looking for some work to do.
                            I’ve studied the subject for about 3 years now, both in Front-end and Back-end development.<br> 
                            In the years as developer I've learned that, develop in coding languages are my passion,
                            as i love to write a code and then instantly see the change happen on the client.<br>
                            I work very passionated, I have my mind fixated on the project and if I get stuck due to an error somewhere,
                            then i wont stop thinking about how to solve it, untill i get the error debugged. 
                        </p>
                    </article>
                </div>
            </div>
            <div>
                <div class="frontPage_div_01">
                    <h3>Top Sharp Grades</h3>
                    <article>
                        <p>
                            I’ve been through a lot of courses in the time I’ve studied as a Web Developer. Everything from Photoshop
                            and Photo-Shoot, to coding skills such as JavaScript, Object-Oriented Programming, database handeling, 
                            linux server operation and all with excellent grades.<br>
                            I’ve got excellent grades in the courses and classes I’ve had, which is something which has come to me naturally, 
                            because I love to work as developer, and I’m on fire to learn something new every day!<br>
                            You can read about my skills on my <a href="/skills">skills</a> page. <br>
                        </p>
                    </article>
                </div>
            </div>
            <div>
                <div class="frontPage_div_01">
                    <h3>Occupation</h3>
                    <article>
                        <p>
                            My job right now are Agent Language Specailst at TTEC in Sofia Business Park, but I also work as a freelancer. 
                            In addition to that, I’m also currently working to find myself a new developer job.
                        </p>
                    </article>
                </div>
            </div>
            <div class="frontPage_div_02">
                <h4>Interrested in doing a project together?</h4>
                <div>
                    <a href="mailto:andreas@mrcaptain.info">Email Me</a>
                </div>
            </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/static/resources/js/index.js"></script>
<% include ../.././partials/sharedPartials/script %>
</html>