<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/english/en-head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/english/nav %>

            <!-- NAV END -->

            <h2 id="h2_en">The skills of the shark</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="skills">

        <!-- RESPONSIVE FLAGS -->

        <% include ../.././partials/english/resp-flags %>

            <!-- RESPONSIVE FLAGS END -->

            <div class="skills_a">
                <div class="skills_a6">
                    <img src="/resources/media/image/skills/profil_billede.png" alt="Profil billede">
                </div>
                <article class="skills_a1">
                    <!-- PROGRAMS -->
                    <h3>Programs</h3>
                    <ul>
                        <li>PuTTy           - Expert</li>
                        <li>Github          - Expert</li>
                        <li>MySQL Workbench - Expert</li>
                        <li>PhPMyadmin      - Expert</li>
                        <li>FileZilla       - Expert</li>
                        <li>Brackets        - Advanced</li>
                        <li>Visual Studio   - Advanced</li>
                        <li>linux centOs    - Practiced</li>
                        <li>Photoshop       - Pacticed</li>
                        <li>Slack           - Practiced</li>
                        <li>Nginx           - Practiced</li>
                        <li>Unity           - Basic</li>
                        
                    </ul>
                </article>
                <article class="skills_a5">
                    <p></p>
                    <img src="/resources/media/image/skills/profil_billede.png" alt="Profil billede">
                    <p></p>
                </article>
                <article class="skills_a2">
                    <!-- CODE -->
                    <h3>Code</h3>
                    <ul>
                        <li>@media          - Expert</li>
                        <li>HTML            - Expert</li>
                        <li>SQL             - Expert</li>
                        <li>EJS             - Expert</li>
                        <li>JavaScript      - Advanced</li>
                        <li>Express         - Advanced</li>
                        <li>CSS             - Advanced</li>                        
                        <li>Bootstrap       - Practiced</li>
                        <li>Webpack         - Practiced</li>
                        <li>JSON            - Practiced</li>
                        <li>ReactJS         - Practiced</li>
                        <li>jQuery          - Pacticed</li>
                        <li>Wordpress       - Basic</li>
                        <li>MongoDB         - Basic</li>
                        <li>OOP             - Basic</li>
                    </ul>
                </article>
            </div>
            <article>
                <h3 class="skills_h3">Characteristics</h3>
                <div class="skills_a4">
                    <img src="/resources/media/image/skills/personality.jpeg" alt="">
                    <p>
                        I’m a stable, happy and outgoing person, in which I quickly fit well into a new working environment.
                        I’ve always been passionate about the goals in my life, and I do the same for my work. <br> I’ll do a
                        great effort to develop good solutions, which match the need of users and create value for customers
                        and management.
                    </p>
                </div>
                <div class="skills_a3">
                    <img src="/resources/media/image/skills/description.jpeg" alt="description">
                    <p>
                        I like to work both Back-end and Front-end, and i have very good experience with the restiful api, using
                        services to pull the data from database. I've also have some good experience in the ejs framwork, and some
                        experience in ReactJS, i like them both. Beside of that i'm a quick and enjoyable learner, i like to learn
                        new things and explore new methods.
                    </p>
                </div>
            </article>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/resources/js/skills.js"></script>
<% include ../.././partials/sharedPartials/script %>
</html>