<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/danish/head %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/resources/modules/jquery/jquery-3.3.1.min.js">
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/danish/nav %>

            <!-- NAV END -->

            <h2>Hajens skills</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="login">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Hello Dashboard</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/profile" role="button">Profile view »</a>
            </p>
        </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/danish/footer %>
    </footer>
</body>
<script src="./resources/js/skills.js"></script>

</html>