<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dette er en præsentation af mit portfølje, som giver en beskrivelse om hvem jeg er og hvad jeg kan som
    web desegner. På mit portfølje kan du se nogle af de projekter jeg har lavet i den tid som web designer, derudover kan du også komme
    i kontakt med mig via email eller andre sociale medier.">
    <link rel="shortcut icon" href="./resources/media/image/favicon.ico" />
    <link rel="stylesheet" href="/static/resources/css/main.css">
    <link rel="stylesheet" href="/resources/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>Portfolio</title>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include .././partials/danish/nav %>

        <!-- NAV END -->

        <h2>Page Not Found</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="errorPage">

    <!-- RESPONSIVE FLAGS -->

        <% include .././partials/danish/resp-flags %>

    <!-- RESPONSIVE FLAGS END -->
        <div>
            <div class="contact_div">
                <div class="contact_div01">
                </div>
                    <h3>404 error Sorry, Page Not Found
                        <br></h3>
                </div>
            </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <div class="footer_div">
            <div>
                <a href="mailto:andreas@mrcaptain.info" class="hyper-link">
                    <i class="fas fa-envelope-square socialMedia"></i>
                    </i>
                </a>
                <a href="https://www.linkedin.com/in/andreas-pedersen-130192156/" target="_blank">
                    <i class="fab fa-linkedin socialMedia" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/AndreasP-92" target="_blank">
                    <i class="fab fa-github-square socialMedia" style="margin-left:0px;"></i>
                </a>
            </div>
            <p id="copyright">Hand made by Andreas Pedersen © 2018</p>
        </div>
    </footer>
</body>
<script src="./resources/js/kontakt.js"></script>

</html>