<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/danish/head %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/resources/modules/jquery/jquery-3.3.1.min.js">
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/danish/nav %>

            <!-- NAV END -->

            <h2>Hajens skills</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="profile">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        
                <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><%=data[0].first_name%>, <%=data[0].last_name%></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/photo.jpg" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 "> 
                        <table class="table table-user-information">
                        <tbody>
                            <tr>
                            <td>User Name:</td>
                            <td><%=data[0].user_name%></td>
                            </tr>
                            <tr>
                            <td>Mobile:</td>
                            <td><%=data[0].mob_no%></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/danish/footer %>
    </footer>
</body>
<script src="./resources/js/skills.js"></script>

</html>