<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/english/en-head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/english/nav %>

            <!-- NAV END -->

            <h2 id="h2_en"> The Web Shark Andreas</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="fontPage">
        <img src="/resources/media/image/index/header_background_02.png" alt="Front Page Picture">

        <!-- RESPONSIVE FLAGS -->

        <% include ../.././partials/english/resp-flags %>

            <!-- RESPONSIVE FLAGS END -->

            <div>
                <div class="frontPage_div_01">
                    <h3>About</h3>
                    <article>
                        <p>I’m a Web Developer, who’s currently using the most of my time on my education, as Web-Integrator.
                            I’ve studied the subject more than 1 year, both in Front-end and Back-end development. I’m mainly
                            working with the Nodejs language, which I think I’m in love with. I like to build my own website
                            from scratch, but I also know how to build in Bootstrap if a website must be built fast. I work
                            very passionately, and I won’t stop thinking about the project until I’m finished.</p>
                    </article>
                </div>
            </div>
            <div>
                <div class="frontPage_div_01">
                    <h3>Top Sharp Grades</h3>
                    <article><a href=""></a>
                        <p>I’ve been through a lot of courses in the time I’ve studied as a Web Developer. Everything from Photoshop
                            and Photo-Shoot, to coding language as JavaScript and Object-Oriented Programming and much else
                            you can read more about on my <a href="/skills">skills page</a>. I’ve got top grades in the courses and classes I’ve
                            had, which is something which has come to me naturally, because I love to work as developer,
                            and I’m on fire to learn something new every day!</p>
                    </article>
                </div>
            </div>
            <div>
                <div class="frontPage_div_01">
                    <h3>Occupation</h3>
                    <article>
                        <p>My job right now is studying, but I also work as a freelancer. In addition to that, I’m also currently
                            working to find myself a student job, like a predator on hunt.</p>
                    </article>
                </div>
            </div>
            <div class="frontPage_div_02">
                <h4>Interrested in doing a project together?</h4>
                <div>
                    <a href="mailto:andreas@mrcaptain.info">Email Me</a>
                </div>
            </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/static/resources/js/forside.js"></script>

</html>