<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../.././partials/english/en-head %>
</head>

<body class="stop_scroll">
    <!--************************************************* FADE AWAY ***************************************-->
    <div id="frontPage">
        <div id="frontPage_border">
            <p id="warning">Construction Area - BETA 0.7.5</p>
        </div>
        <article>
            <i class="fa fa-times" aria-hidden="true">
                <p> Close</p>
            </i>
            <h1>Andreas Pedersen</h1>
            <img src="/resources/media/image/index/profil_billede.png" alt="">
            <p>Creative Web Developer, living near Copenhagen</p>
        </article>

    </div>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/english/nav %>

        <!-- NAV END -->

        <h2 id="h2_en"> The Web Shark Andreas</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="fontPage">
        <img src="/resources/media/image/index/header_background_02.jpg" alt="">

<!-- RESPONSIVE FLAGS -->

<% include ../.././partials/english/resp-flags %>

<!-- RESPONSIVE FLAGS END -->

        <div>
            <div class="frontPage_div_01">
                <h3>About</h3>
                <article>
                    <p>I’m a web developer, who’s been working within the area for a good while. I am very passionate within
                        the area, and I won’t stop until the project is done once I’ve started on something, because the
                        stubbornness within me takes over. .</p>
                </article>
            </div>
        </div>
        <div>
            <div class="frontPage_div_01">
                <h3>Top Sharp Grades</h3>
                <article>
                    <p>I’ve received top grades, which is some that has come to me naturally, as I love to work as a developer,
                        because I’m very passionate about creating something, It’s my kind of art.</p>
                </article>
            </div>
        </div>
        <div>
            <div class="frontPage_div_01">
                <h3>Occupation</h3>
                <article>
                    <p>My job right now is studying, but I also work as a freelancer. In addition to that, I’m also currently
                        working to find myself a study job now, like a predator on hunting.</p>
                </article>
            </div>
        </div>
        <div class="frontPage_div_02">
            <h4>Interrested in doing a project together?</h4>
            <div>
                <a href="mailto:andreas@mrcaptain.info">Email Me</a>
            </div>
        </div>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
            <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/static/resources/js/index.js"></script>

</html>