<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../.././partials/english/en-head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>
 
        <!-- NAV -->

        <% include ../.././partials/english/nav %>

        <!-- NAV END -->

        <h2 id="h2_en"> The Web Shark Andreas</h2>
        </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="projects">

<!-- RESPONSIVE FLAGS -->

<% include ../.././partials/english/resp-flags %>

<!-- RESPONSIVE FLAGS END -->

        <div class="project_div" style="margin-top:60px;">
            <article>
<!-- BLOG -->
                <h3>Blog</h3>
                <a href="/static/resources/pages/drop_down/neli/index.html" target="_blank">
                    <img src="/resources/media/image/projects/nelis_blog.PNG" alt="">
                </a>
                <p class="bold">01/04/17</p>
                <p>This web site was created because I wanted to make something sweet to the girlfriend.</p>
            </article>
<!-- FAMILY WEBSITE -->
            <article>
                <h3>Family Website</h3>
                <a href="http://www.feriehuse-odsherred.dk/" target="_blank">
                    <img src="/resources/media/image/projects/fars_hjemmeside.PNG" alt="">
                </a>
                <p class="bold">07/08/17</p>
                <p>In the end of the first school course (basic course), I created the front page to my dads renting website,
                    because the former front page needed a refreshing update.
                    <br>I am not responsible for the maintance of the website.
                </p>
            </article>
<!-- WEB SHOP -->
            <article>
                <h3>Web - Shop</h3>
                <a href="/static/resources/pages/drop_down/hifi/index.html" target="_blank">
                    <img src="/resources/media/image/projects/Web-shop.PNG" alt="">
                </a>
                <p class="bold">
                    21/12/17
                </p>
                <p>
                    This was a project I made because I had to learn to create routes and databases. It has not been build responsive, and there
                    isn't forcus on design, because the important part was to understand the SQL call.
                </p>
            </article>
        </div>
        <div class="project_div">
<!-- STORE -->
            <article>
                <h3>Slipse Knuden</h3>
                <a href="/slipseknuden">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p class="bold">14/01/18</p>
                <p>Website comming up later</p>
            </article>
<!--STAR VALIDATOR -->
            <article>
                <h3>Star Validator</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="Star Validator">
                </a>

                <p class="bold">18/01/18</p>
                <p>
                    I have made this form which is able to validate each field, if any text is missing via JavaScript. If anything is missing
                    a star will show.
                </p>
            </article>
<!-- CANVAS GAME -->
            <article>
                <h3>Canvas Game</h3>
                <a href="/static/resources/pages/drop_down/canvas/index.html" target="_blank">
                    <img src="/resources/media/image/projects/canvas_spil.PNG" alt="Canvas Game">
                </a>
                <p class="bold">16/03/2018</p>
                <p>
                    I have made a game with Canvas here, and inserted sounds and played with class in JavaScript.
                    <br> It has not been build responsive.
                </p>
            </article>
        </div>
        <div class="project_div">
            <article>
                <h3>TEKST HER</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
            <article>
                <h3>TEKST HER</h3>
                <a href="" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
            <article>
                <h3>TEKST HER</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
        </div>

    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
            <% include ../.././partials/english/footer %>
    </footer>
</body>
<script src="/static/resources/js/skills.js"></script>

</html>