<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#252a30" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="This is a presentation of my portfolio, which gives a description about who i am, and what magic i can
do as a web developer. On my portfolio you'll be able to find some of the projects I've done, and besides that also get in contact with me
through Email or other socail medias.">
<meta content="copyright" content="Copyright 2018-2019 Mrcaptain">
<link rel="shortcut icon" href="/resources/media/image/favicon.ico"/>
<link rel="stylesheet" href="/static/resources/css/main.css">
<link rel="stylesheet" href="/resources/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
<title>Portfolio</title>