<ul class="flag_resp">
        <li>
            <a href="/dk-index" id="DK_flag_a_resp">
                <img src="/resources/media/image/index/danish_flag.png" alt="Danish Flag">
            </a>
        </li>
        <li>
            <a href="/" id="EN_flag_a_resp">
                <img src="/resources/media/image/index/english_flag.png" alt="English Flag">
            </a>
        </li>
    </ul>