
/* login form */
body{
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}



                                                    /* NAVIGATION */

/* nav{
    background-color:#222;
    font-size:29px;
    transition: 1s;
    
}
nav > ul{
    list-style-type:none;
    width:100%;
}
nav ul:after{
    content:"";
    display: table;
    clear: both;
}
nav ul li{
    float:left;
}
nav ul li i{
    margin-left: 5px;
}
nav ul li a,visited{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;   
} */
/*UNDER UNDER NAV*/
/* nav ul ul li img{
    width:100%!important;
}
nav ul#sb li a:nth-of-type(1){
    padding: 0;
    margin-bottom: -22px;
}
nav ul ul li{
    float:none;
    list-style-type:none;
}
nav > ul > ul > a{
    padding: 10px;
    text-decoration: none;

}
nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}
nav ul ul{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #333;
    width: 20%;
}
nav > ul > li:hover > ul{
    max-height:700px;
     overflow:visible;
} */

/* NAV SLUT */
.sale div img{
    width:100%;
    height: auto;
    margin:2px;
}
.sale img:hover{
    transform:scale(1.01);
    transition: all 1s;
}
nav{
    background-color:#9a9898!important;
}
ul li a{
    color:white!important;
}
.navbar-header{
    float:right!important;

}
.navbar-header a{
    color:#4e3b3b!important;
}
fieldset{
    width:50%;
}
main{
    width:70%;
    margin:0 auto;
}
/* main img{
    width:100%;
} */

                                        /* KONTAKT */

.adress{
    background-color:grey;
    
    width:70%!important;
}
.adress h2{
    font-weight: bold;
}
.div_contact{
    display: inline-block;
    text-align: center;

}
/* .contact div:nth-of-type(1) input{
    margin-left:16px;
}
.contact div:nth-of-type(2) input{
    margin-left:8px;
} */
#content_kontakt{
    content:"";
    display: table;
    clear: both;
}
.kontakt{
    float:left;
    width:100%;
}
                                    /* PRODUKT */
main a{
    background-color:#ccc;
}


.col{
    float:left;
    border:2px solid #ccc;
    border-radius:5px;
    width:100%;
}
.col img{
    width:100%;
}
.col h2{
    margin:10px;
}
.col1{
    margin-top:20px;
}

                                    /* SAERCH BAR */

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
                                    /* FOOTER */

footer{
    height: 100px;
    background-color:#ccc;
    clear: both;
}
