<!DOCTYPE html>
<html lang="da">

<head>
    <% include ../.././partials/danish/head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include ../.././partials/danish/nav %>

            <!-- NAV END -->

            <h2>Mine Egenskaber</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="skills">

        <!-- RESPONSIVE FLAGS -->

        <% include ../.././partials/danish/resp-flags %>

            <!-- RESPONSIVE FLAGS END -->

            <div class="skills_a">
                <div class="skills_a6">
                    <img src="./resources/media/image/skills/profil_billede.png" alt="Profil billede">
                </div>
                <article class="skills_a1">
                    <!-- PROGRAMS -->
                    <h3>Programmer</h3>
                    <ul>
                        <li>PuTTy           - Expert</li>
                        <li>Github          - Expert</li>
                        <li>MySQL Workbench - Expert</li>
                        <li>PhPMyadmin      - Expert</li>
                        <li>FileZilla       - Expert</li>
                        <li>Brackets        - Advanced</li>
                        <li>Visual Studio   - Advanced</li>
                        <li>linux centOs    - Practiced</li>
                        <li>Photoshop       - Pacticed</li>
                        <li>Slack           - Practiced</li>
                        <li>Nginx           - Practiced</li>
                        <li>Unity           - Basic</li>
                    </ul>
                </article>
                <div class="skills_a5">
                    <img src="./resources/media/image/skills/profil_billede.png" alt="Profil billede">
                </div>
                <article class="skills_a2">
                    <!-- CODE -->
                    <h3>Kodning</h3>
                    <ul>
                        <li>@media          - Expert</li>
                        <li>HTML            - Expert</li>
                        <li>SQL             - Expert</li>
                        <li>SASS            - Expert</li>
                        <li>EJS             - Expert</li>
                        <li>JavaScript      - Advanced</li>
                        <li>Express         - Advanced</li>
                        <li>CSS             - Advanced</li>                        
                        <li>Bootstrap       - Practiced</li>
                        <li>Webpack         - Practiced</li>
                        <li>JSON            - Practiced</li>
                        <li>ReactJS         - Practiced</li>
                        <li>jQuery          - Pacticed</li>
                        <li>Wordpress       - Basic</li>
                        <li>MongoDB         - Basic</li>
                        <li>OOP             - Basic</li>
                    </ul>
                </article>
            </div>
            <article>
                <h3 class="skills_h3">Karakteristik</h3>
                <div class="skills_a4">
                    <img src="./resources/media/image/skills/personality.jpeg" alt="">
                    <p>
                        Jeg er troværdig og meget kundevenlig, jeg gør med andre ord alt for at imødekomme kundens behov. <br>I mine
                        øjne er det noget af det vigtigste at fremvise, at man er til at stole på, og det har jeg altid bevist
                        at jeg mestre. 
                    </p>
                </div>
                <div class="skills_a3">
                    <img src="./resources/media/image/skills/description.jpeg" alt="description">
                    <p>Jeg kan lide at arbejde både Back-end og Front-end, og jeg har god erfaring med rest api ved hjælp af
                        services til at trække data fra databasen. Jeg har også gode erfaringer i EJS fremwork, og
                        erfaring i ReactJS, jeg kan lide dem begge. Udover det er jeg en hurtig og fornøjelig lærer, jeg kan godt lide at lære
                        nye ting og udforske nye metoder.
                    </p>
                    </div>
            </article>
    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <% include ../.././partials/danish/footer %>
    </footer>
</body>
<script src="./resources/js/skills.js"></script>
<% include ../.././partials/sharedPartials/script %>
</html>