
<nav id="nav">
        <ul>
            <li><a href="/slipseknuden">HJEM</a></li>
            <li><a href="/slipseknuden/om">OM SLIPSEKNUDE</a></li>
            <li><a href="/slipseknuden/garanti">GARANTI</a></li>
            <li><a href="#">KONTAKT</a></li>
            <li><a href="/slipseknuden/nyheder">NYHEDER</a></li>
            <li><a href="/slipseknuden/produkter">PRODUKTER</a></li>
        </ul>
        <form>
            <input type="search">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </form>
    </nav>
<div id="logo">
    <img src="/resources/media/image-projects/slipseknuden/header/logo.png" alt="HEJ">
</div>

    