*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

/************************************************************** .shopIGATION *****************************************************/

main{
  height:1000px;
}

/* *************************************************************** ORDER **************************************************** */

#myCanvas{
  margin:0px auto;
  display:block;
}

/* ************************************************************* ACTIVITY ****************************************************** */

.order{
  text-decoration:none;
  color:#00fefe;
  position: absolute;
  padding:2px;
  border: 2px solid #00fefe;
  border-radius: 20px;
  left:125px;
  top:206px;
}
.order:hover{
  color: #00fefe;
}

/* =========== CATEGORY ============= */

.categoryItem{
  width:40%;
  float:left;
  margin-left:5%;
}
.categoryItem img{
  width:100%;
}

/* ************************************************************ BESTILLING ***************************************************** */

/* ============= stage ================= */

/* .stage{
  width:50%;
  height:50%;
  display:inline-block;
  background-color:grey;
}
.layer{
  width:70%;
  height:2%;
  background-color:black;
  margin-left:10%;
  display:inline-block;
}
.seat{
  width:10%;
  height:10%;
  background-color:green;
  float:left;
  margin:5px;
  cursor: pointer;
}
.seat:after{
  content:"";
  display:table;
  clear:both;
} */
td{
  height: 30px;
  min-width: 30px;
  margin: 5px;
  border-radius: 2px;
}
.booked{
  background-color:  red;
}
.selected{
  background-color: black;
}
.vacant{
  background-color: green;
}