<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/site/head %>
</head>

<body style="background-color:white;">
    <header>
        <% include ../.././partials/site/nav %>
    </header>
    <main>
        <div class="container">
            <h1>PAGE NOT FOUND</h1>
            <img src="/resources/media/index/404.png" alt="">
        </div>
    </main>
    <footer>
        <script src=""></script>
    </footer>
</body>
<% include ../.././partials/site/script %>

</html>