<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../.././partials/site/head %>
    <link rel="stylesheet" href="/static/resources/pages/cultural_center/css/main.css">
</head>

<body style="background-color:white;">
    <header>
        <% include ../.././partials/site/nav %>
    </header>
    <main>
        <div class="container">
            <h2>(!! No database activity on this page !!) <br> Plads Bestilling</h2>

            <% include ../.././partials/site/hall/hall_01 %>  

            <button style="margin-top:15px;" type="button" class="btn btn-warning">Bestil Plads</button>
        </div>


                                        
    </main>
    <footer>
    </footer>
    <% include ../.././partials/site/script %>
    <script type="text/javascript" src="/static/resources/pages/cultural_center/modules/data/hallData4.js"></script>
    <script type="text/javascript" src="/static/resources/pages/cultural_center/js/pages/booking.js"></script>
</body>

</html>