<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#252a30" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/resources/css/main.css">
    <link rel="stylesheet" href="./resources/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Portfolio</title>
</head>

<body class="stop_scroll">
    <!--************************************************* FADE AWAY ***************************************-->
    <div id="frontPage">
        <div id="frontPage_border">
            <p id="warning">Under Opbygning - ALPHA 0.6</p>
        </div>
        <article>
            <i class="fa fa-times" aria-hidden="true"></i>
            <h1>Andreas Pedersen</h1>
            <img src="./resources/media/image/index/profil_billede.png" alt="">
            <p>Kreativ Web-udvikler, Bosat i København</p>
        </article>

    </div>
    <!--************************************************ HEADER *****************************************-->
    <header>


        <!-- NAV -->
        <div id="burger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <nav>
            <ul id="left_nav">
                <li>
                    <a href="#"> Forside </a>
                </li>
                <li>
                    <a href="./egenskaber">Egenskaber</a>
                </li>
                <li>
                    <a href="/projekter"> Projekter </a>
                    <ul id="dropDown">
                        <li>
                            <a href="/static/resources/pages/drop_down/stjernev_validator/index.html">Stjerne validater 15/01/18</a>
                        </li>
                        <li>
                            <a href="/static/resources/pages/drop_down/hifi/index.html">Web Shop 23/12/17</a>
                        </li>
                        <li>
                            <a href="http://www.feriehuse-odsherred.dk/">frontPage til online hjemmeside 07/08/17</a>
                        </li>
                        <li>
                            <a href="/static/resources/pages/drop_down/neli/index.html">Neli's blog 01/04/17</a>
                        </li>
                        <li>
                            <a href="">3</a>
                        </li>
                        <li>
                            <a href="">4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./kontakt"> Kontakt </a>
                </li>
            </ul>
            <ul id="flag">
                <li>
                    <a href="/" id="himg_01">
                        <img src="./resources/media/image/index/danish_flag.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/static/resources/pages/english/main.html" id="himg_02">
                        <img src="./resources/media/image/index/english_flag.png" alt="">
                    </a>
                </li>

            </ul>
        </nav>
        <h2>Web Hajen Andreas</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="fontPage">
            <ul class="flag_rep">
                <li>
                    <a href="/" id="himg_04">
                        <img src="./resources/media/image/index/danish_flag.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/static/resources/pages/english/main.html" id="himg_03">
                        <img src="./resources/media/image/index/english_flag.png" alt="">
                    </a>
                </li>
    
            </ul>
            <div>
                <div class="frontPage_div_01">
                    <h3>Passioneret</h3>
                    <div>
                        <img src="./resources/media/image/index/a_01.jpg" alt="">
                    </div>
                    <article>
                        <p>Jeg er en web udvikler, som har arbejdet med faget i et godt stykke tid, jeg er meget passioneret inden
                            for området, og når jeg først er startet på et projekt så stopper jeg ikke før jeg er færdig, og
                            stædigheden tager over.</p>
                    </article>
                </div>
    
            </div>
            <div>
                <div class="frontPage_div_02">
                    <h3>Top Skarpe Karakterer</h3>
                    <div>
                        <img src="./resources/media/image/index/a_02.png" alt="">
                    </div>
    
                    <article>
                        <p>Jeg har fået top karakterer, hvilke er noget som er kommet mig naturligt, da jeg elsker at arbejde som
                            udvikler, og det er noget jeg brænder for.</p>
                    </article>
                </div>
    
            </div>
            <div>
                <div class="frontPage_div_01">
                    <h3>Beskæftigelse</h3>
                    <div>
                        <img src="./resources/media/image/index/a_03.jpg" alt="">
                    </div>
                    <article>
                        <p>Min beskæftigelse nu er studererende, men arbejder også som freelancer. Derudover er jeg i gang med at
                            finde mig et studie job, som et rovdyr på jagt.</p>
                    </article>
                </div>
                <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Flex responsiv</a>
            </div>
    
        </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
        <p id="kontakt">Kontakt mig på mail eller tlf</p>
        <div id="footer_div">
            <!-- <a href="https://www.facebook.com/3123sdas" class="hyper-link" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> -->
            <a href="mailto:andreas1992@outlook.dk" class="hyper-link">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
            <!-- <a href="#" id="phone" class="hyper-link"><i class="fa fa-phone-square" aria-hidden="true"></i></a> -->
            <i id="phone" class="fa fa-phone-square" aria-hidden="true"></i>

        </div>
        <p id="copyright">Hand made by Andreas Pedersen © 2018</p>
    </footer>
</body>
<script src="./resources/js/index.js"></script>

</html>