<!DOCTYPE html>
<html lang="en">

<head>
    <% include .././partials/head %>
</head>

<body>
    <!--************************************************ HEADER *****************************************-->
    <header>

        <!-- NAV -->

        <% include .././partials/nav %>

        <!-- NAV END -->

        <h2>Hajens Projekter</h2>
    </header>
    <!-- ************************************************* MAIN ***************************************** -->
    <main class="projects">

<!-- RESPONSIVE FLAGS -->

<% include .././partials/resp-flags %>

<!-- RESPONSIVE FLAGS END -->

        <div class="project_div" style="margin-top:60px;">
            <article>
                <!-- BLOG -->
                <h3>Blog</h3>
                <a href="/static/resources/pages/drop_down/neli/index.html" target="_blank">
                    <img src="/resources/media/image/projects/nelis_blog.PNG" alt="">
                </a>
                <p class="bold">01/04/17</p>
                <p>Dette var en "for sjov" hjemmeside jeg lavede, fordi jeg ville lave noget sødt til kæresten.</p>
            </article>
            <!-- FAMILY WEBSITE -->
            <article>
                <h3>Hjmmeside til Familie</h3>
                <a href="http://www.feriehuse-odsherred.dk/" target="_blank">
                    <img src="/resources/media/image/projects/fars_hjemmeside.PNG" alt="">
                </a>
                <p class="bold">07/08/17</p>
                <p>I slutningen af mit første skole forløb (grundforløbet) skabte jeg denne forside til min fars udlejnings
                    hjemmeside, fordi den derværende forside trængte en opfriskning.
                    <br>Jeg står ikke for vedligeholdelsen.</p>
            </article>
            <!-- WEB SHOP -->
            <article>
                <h3>Web - Shop</h3>
                <a href="/static/resources/pages/drop_down/hifi/index.html" target="_blank">
                    <img src="/resources/media/image/projects/Web-shop.PNG" alt="">
                </a>
                <p class="bold">
                    21/12/17
                </p>
                <p>
                    Dette var en projekt jeg lavede hvorpå jeg skulle lære routes og databaser. Den er ikke bygget responsivt, og der er ikke
                    focus på design, da det vigtigste var at få styr på SQL kald.
                </p>
            </article>
        </div>
        <div class="project_div">
            <!-- STORE -->
            <article>
                <h3>Slipse Knuden</h3>
                <a href="/slipseknuden">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p class="bold">14/01/18</p>
                <p>Siden er på vej</p>
            </article>
            <!--STAR VALIDATOR -->
            <article>
                <h3>Stjerne Validater</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="Star Validator">
                </a>

                <p class="bold">18/01/18</p>
                <p>Jeg har lavet en form som kan validere hvert felt hvis der mangler tekst via JavaScript. Hvis der mangler
                    tekst så kommer der en stjerne makering.</p>
            </article>
            <!-- CANVAS GAME -->
            <article>
                <h3>Canvas Spil</h3>
                <a href="/static/resources/pages/drop_down/canvas/index.html" target="_blank">
                    <img src="/resources/media/image/projects/canvas_spil.PNG" alt="Canvas Game">
                </a>
                <p class="bold">16/03/2018</p>
                <p>Her har jeg lavet et spil med canvas, indsat lyde og leget med class i JavaScript.
                    <br> Det er ikke bygget respnsivt.</p>
            </article>
        </div>
        <div class="project_div">
            <article>
                <h3>TEKST HER</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
            <article>
                <h3>TEKST HER</h3>
                <a href="" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
            <article>
                <h3>TEKST HER</h3>
                <a href="/static/resources/pages/drop_down/stjernev_validator/index.html" target="_blank">
                    <img src="/resources/media/image/projects/star_validator.PNG" alt="">
                </a>
                <p></p>
            </article>
        </div>

    </main>
    <!-- ************************************************* FOOTER ************************************************************* -->
    <footer>
            <% include .././partials/footer %>
    </footer>
</body>
<script src="./resources/js/projects.js"></script>

</html>