<meta charset="UTF-8">
<link rel="stylesheet" href="/static/resources/modules/bootstrap/css/bootstrap.min.css"/>
<link rel="shortcut icon" href="./resources/media/image/favicon.ico"/>
<link rel="stylesheet" href="/static/resources/css/main.css">
<link rel="stylesheet" href="/static/resources/css/admin.css">
<title>Admin Site</title>



      