*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/backgroundimg.gif);
    
}
#wrapper{
    
}
                                            /*HEADER*/
header{
    background-image:url(images/banner.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}
h1{
    height:225px;
    text-align: center;
    color:green;
    padding-top: 27px;
}
h1 p{
    font-size:32px;
    background-color:rgba(255, 255, 255, 0.86);
    width:90%;
    margin: 0px auto;
    border-radius: 14%;
    border:1px solid #222;
}
/*NAV START*/
nav a img{width:2%; cursor: pointer;}
/*
#no{
    width:2.5%;
}
#gb{
    width:3%;
}
*/
nav{
    background-color:#222;
    font-size:29px;
    transition: 1s;
    
}
nav > ul{
    list-style-type:none;
    width:100%;
}
nav ul:after{
    content:"";
    display: table;
    clear: both;
}
nav ul li{
    float:left;
    width:;
}

nav ul li i{
    margin-left: 5px;
}
nav ul li a,visited{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;   
}
/*UNDER UNDER NAV*/
nav ul ul li img{
    width:100%;
}
nav ul#sb li a:nth-of-type(1){
    padding: 0;
    margin-bottom: -22px;
}
nav ul ul li{
    float:none;
    list-style-type:none;
}
nav > ul > ul > a{
    padding: 10px;
    text-decoration: none;
/*    text-align: left;*/

}
nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}
nav ul ul{
    max-height: 0;
    overflow: hidden;
/*    transition: 1s;*/
    position: absolute;
    background-color: #333;
    width: 20%;
}
nav > ul > li:hover > ul{
    max-height:700px;
/*    transition: 5s;*/
     overflow:visible;
}
                                    /*OPBYGNING*/
.pris{color:red;}
p{margin-top: 10px;}
/*ARTICLE 0*/
#a0{
    margin-top:20px;
    margin-bottom: 20px;
}
#a0:after{
    content: "";
    display: table;
    clear: both;
}
#a0 div:nth-of-type(1){
    float:left;
}
#a0 div:nth-of-type(1) img{
    width:100%;
}
#a0 div:nth-of-type(2){
    float:left;
    margin-left: 25%;
}
#a0 div:nth-of-type(2) img{
    width:25%;
    height:135px;
    float:left;
}

                                    /*ARTICLE 1*/

#lastminute01{
    display:;
    color:red;
    font-size:30px;
    opacity: 0;
    text-decoration: none;
}
/*  SKJUL INDHOLD MED: dsiplay:none;  */
#lastminute01 p{
    border-bottom: 2px solid red;
}
#a1{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:2px solid green;
    color:green;
    padding-bottom: 20px;
}
#a1:after{
    content:"";
    display: table;
    clear: both;
}
#a1 div:nth-of-type(1){
    float:left;
    width:30%;
    margin-right: 10px;
}
#a1 div:nth-of-type(1) img{
    width:100%;
}
#a1 article{
    width:30%;
    float:left;
    margin-right: 10px;
}
#a1 div:nth-of-type(2){
    float:left;
    width:30%;
    margin-left: 34px;
}
                            /*ARTICLE 2*/
#lastminute02{
    display:none;
    color:red;
    font-size:30px;
    text-decoration: none;
}
/*  SKJUL INDHOLD MED: dsiplay:none;  */
#lastminute02 p{
    border-bottom: 2px solid red;
}
#a2{
    margin-top: 20px;
    margin-bottom: 20px;
    color:green
}
#a2:after{
    content:"";
    display: table;
    clear: both;
}
#a2 div:nth-of-type(1){
    float:left;
    width:30%;
    margin-right: 10px;
}
#a2 div:nth-of-type(1) img{
    width:100%;
}
#a2 article{
    width:30%;
    float:left;
    margin-right: 10px;
}
#a2 div:nth-of-type(2){
    float:left;
    width:30%;
    margin-left: 34px;
}

/*BILLEDVISNING 01*/
#gallery1 h4{
    margin: 30px 0 20px 0;
}
#img_preview1{
    list-style-type:none;
    float:left;
    
}
#img_preview1:after{
    content:"";
    display: table;
    clear: both;
}
#img_preview1 li img{
    width:100%;
}
#img_preview1 img{
    max-width:100%;
    min-width: 100%;
}
#img_preview1 span{
    position:absolute;
    left:-10000em;
    top:0;
}
#nav1{
    position:relative;
}
#box1 img{
    display:block;
}
#box1 li{
    float:left;     
    width: 186px;
}
#box1 a{
    color:#fff;
    text-decoration: none;
}
#nav1{
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
}
#pil1{
    position:relative;
    top: 12px;
    margin-bottom: 10px;
    width:69%;
}
#pil1:after{
    content:"";
    display: table;
    clear: both;
}
#gallery1 article{
    overflow:hidden;
    position:relative;
    margin: 0 auto;
    height: 150px;
    width:70%;
    border-radius: 16px
}
#box1:after{
    content:"";
    display: table;
    clear: both;
}
.first1:hover, .first1 a:hover, .last1:hover, .last1 a:hover{
/*    background-color:white;*/
}
.first1, .first1 a, .last1, .last1 a{
/*    background-color:white;;*/
    display: block;
    top:108%;
}
.first1 a, .last1 a{
    text-decoration: none;
    padding: 6px;
    color:green;
    font-size:28px;
}
.first1{
/*    position: absolute;*/
    left: 10px;
}
.last1{
/*    position: absolute;*/
    margin-top: -43px;
    float:right;
}
/*BILLEDVISNING 02*/

#gallery h4{
    margin: 30px 0 20px 0;
}
#img_preview{
    list-style-type:none;
    float:left;
    
}
#img_preview:after{
    content:"";
    display: table;
    clear: both;
}
#img_preview li img{
    width:100%;
}
#img_preview p{
    max-width:100%;
    min-width: 100%;
}
#img_preview span{
    position:absolute;
    left:-10000em;
    top:0;
}
#nav{
    position:relative;
}
#box img{
    display:block;
}
#box li{
    float:left;     
    width: 186px;
}
#box a{
    color:#fff;
    text-decoration: none;
}
#nav{
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
}
#pil{
    position:relative;
    top: 12px;
    margin-bottom: 10px;
    width:69%;
}
#pil:after{
    content:"";
    display: table;
    clear: both;
}
#gallery article{
    overflow:hidden;
    position:relative;
    margin: 0 auto;
    height: 150px;
    width:70%;
    border-radius: 16px;
}
#box:after{
    content:"";
    display: table;
    clear: both;
}
.first:hover, .first a:hover, .last:hover, .last a:hover{
/*    background-color:white;*/
}
.first, .first a, .last, .last a{
/*    background-color:white;;*/
    display: block;
    top:108%;
}
.first a, .last a{
    text-decoration: none;
    padding: 6px;
    color:green;
    font-size:28px;
}
.first{
/*    position: absolute;*/
    left: 10px;
}
.last{
/*    position: absolute;*/
    margin-top: -43px;
    float:right;
}
                                    /*FOOTER*/
footer{
    background-color:#222;
    height:110px;
    width:100%;
    
}
footer:after{
    content:"";
    display: table;
    clear: both;
}
footer a img{
    width:5%;
    margin: 5px;
    float:left;
}
footer div{
    float:left;
    margin-left:35%;
    color:white;
}